# =============================================
# OS
# =============================================
.DS_Store
Thumbs.db
desktop.ini

# =============================================
# IDE
# =============================================
.idea/
*.iml
.vscode/
*.swp
*.swo
