<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, pageCSS)">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${title}">RankingQuiz</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script th:src="@{/js/tailwind-config.js}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <link rel="stylesheet" th:href="@{/css/layout.css}" />
  <link th:if="${pageCSS != null}" rel="stylesheet" th:href="${pageCSS}" />
</head>
</html>
